<div class="row">
    <div class="col-md-12">
        <h1>Search for a country</h1>
        <form role="form" class="country-search-form">
            <input type="text" class="form-control" id="search-box" placeholder="Enter country name" ng-model="searchTerm">
        </form>
    </div>
</div>

<div class="row" ng-show="state === 'loading'">
    <div class="col-xs-12">
        <p><i>Loading...</i></p>
    </div>
</div>

<div class="row" ng-cloak>
    <div class="col-md-3 col-sm-4" ng-repeat="c in countries | search:searchTerm">
        <country-summary country="c" on-select="showDetail(c)"></country-summary>
    </div>
</div>