<div class="row">
    <ol class="breadcrumb">
        <li><a href="/#/">Search</a></li>
        <li class="active">{{ country.name.common }}</li>
    </ol>
    
    <div class="col-md-12">
        <h1>{{ country.name.common }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Names</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Common</th>
                        <td>{{country.name.common}}</td>
                    </tr>
                    <tr>
                        <th>Official</th>
                        <td>{{country.name.official}}</td>
                    </tr>
                    <tr>
                        <th>Common (Native)</th>
                        <td>{{ country.name.native.common }}</td>
                    </tr>
                    <tr>
                        <th>Official (Native)</th>
                        <td>{{ country.name.native.official }}</td>
                    </tr>
                    <tr>
                        <th>Alternative spellings</th>
                        <td><span ng-repeat="altSpelling in country.altSpellings" class="comma-list">{{ altSpelling }}</span></td>
                    </tr>
                    <tr ng-click="toggleTranslations()" class="clickable">
                        <th colspan="2">Translations <i class="fa fa-angle-double-down pull-right"></i></th>
                    </tr>
                    <tr ng-repeat="(lang, translation) in country.translations" ng-show="shouldShowTranslations">
                        <th>{{ lang }}</th>
                        <td>{{ translation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <h2>Codes</h2>
        <div class="table-reponsive">
            <table class="table table-bordered">
                <tr>
                    <th>ISO 3166-1 alpha-2</th>
                    <td>{{ country.cca2 }}</td>
                </tr>
                <tr>
                    <th>ISO 3166-1 alpha-3</th>
                    <td>{{ country.cca3 }}</td>
                </tr>
                <tr>
                    <th>ISO 3166-1 numeric</th>
                    <td>{{ country.ccn3 }}</td>
                </tr>
                <tr>
                    <th>International calling code<span ng-show="country.callingCode.length > 1">s</span></th>
                    <td><span ng-repeat="dialCode in country.callingCode" class="comma-list">{{ dialCode }}</span></td>
                </tr>
                <tr>
                    <th>ISO 4217 currency code<span ng-show="country.currency.length > 1">s</span></th>
                    <td><span ng-repeat="currency in country.currency" class="comma-list">{{ currency }}</span></td>
                </tr>
                <tr>
                    <th>Top level domain<span ng-show="country.tld.length > 1">s</span></th>
                    <td><span ng-repeat="tld in country.tld" class="comma-list">{{ tld }}</span></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="col-md-4">
        <h2>Language</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr ng-if="country.nativeLanguage.length">
                        <th>Native language</th>
                        <td>{{ country.languages[country.nativeLanguage] }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Languages</th>
                    </tr>
                    <tr ng-repeat="(code, lang) in country.languages">
                        <th>{{ code }}</th>
                        <td>{{ lang }}</td>
                    </tr>
                    <tr ng-if="!country.hasLanguages">
                        <td colspan="2"><i>No language data available</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <h2>Geography</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Region</th>
                        <td>{{ country.region }}</td>
                    </tr>
                    <tr>
                        <th>Subregion</th>
                        <td>{{ country.subregion }}</td>
                    </tr>
                    <tr>
                        <th>Capital</th>
                        <td>{{ country.capital }}</td>
                    </tr>
                    <tr>
                        <th>Demonym</th>
                        <td>{{ country.demonym }}</td>
                    </tr>
                    <tr>
                        <th>Lat/Lng</th>
                        <td><a ng-href="{{ country.osmUrl }}">{{country.latlng[0]}}, {{country.latlng[1]}}</a></td>
                    </tr>
                    <tr ng-show="country.area > 0">
                        <th>Area</th>
                        <td>{{ country.area }}km&#178;</td>
                    </tr>
                    <tr>
                        <th>Land borders</th>
                        <td>
                            <span ng-repeat="border in country.borders" class="comma-list" ng-if="country.borders.length">
                                <a ng-href="/#/country/{{border}}">{{ border }}</a>
                            </span>
                            <span ng-if="!country.borders.length">N/A</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="col-md-4 fake-heading" ng-if="country.cca3">
        <img ng-src="/data/flags/{{ country.cca3.toLowerCase() }}.svg" alt="The flag of {{ country.name }}" class="img-responsive country-flag">
        
        <map-view center="country.latlng" geo-json="geoData"></map-view>
    </div>
</div>