<div class="row">
    <div class="col-md-12">
        <h1>{{country.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Names</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{country.name}}</td>
                    </tr>
                    <tr>
                        <th>Native name</th>
                        <td>{{ country.nativeName }}</td>
                    </tr>
                    <tr>
                        <th>Alternative spellings</th>
                        <td><span ng-repeat="altSpelling in country.altSpellings" class="comma-list">{{ altSpelling }}</span></td>
                    </tr>
                    <tr ng-click="toggleTranslations()" class="clickable">
                        <th colspan="2">Translations <i class="fa fa-angle-double-down pull-right"></i></th>
                    </tr>
                    <tr ng-repeat="(lang, translation) in country.translations" ng-show="shouldShowTranslations">
                        <th>{{ lang }}</th>
                        <td>{{ translation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <h2>Codes</h2>
        <div class="table-reponsive">
            <table class="table table-bordered">
                <tr>
                    <th>ISO 3166-1 alpha-2</th>
                    <td>{{ country.cca2 }}</td>
                </tr>
                <tr>
                    <th>ISO 3166-1 alpha-3</th>
                    <td>{{ country.cca3 }}</td>
                </tr>
                <tr>
                    <th>ISO 3166-1 numeric</th>
                    <td>{{ country.ccn3 }}</td>
                </tr>
                <tr>
                    <th>International calling code<span ng-show="country.callingCode.length > 1">s</span></th>
                    <td><span ng-repeat="dialCode in country.callingCode" class="comma-list">{{ dialCode }}</span></td>
                </tr>
                <tr>
                    <th>ISO 4217 currency code<span ng-show="country.currency.length > 1">s</span></th>
                    <td><span ng-repeat="currency in country.currency" class="comma-list">{{ currency }}</span></td>
                </tr>
                <tr>
                    <th>Top level domain<span ng-show="country.tld.length > 1">s</span></th>
                    <td><span ng-repeat="tld in country.tld" class="comma-list">{{ tld }}</span></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="col-md-4">
        <h2>Language</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>ISO 639-1 code<span ng-show="country.languageCodes.length > 1">s</span></th>
                        <td><span ng-repeat="langCode in country.languageCodes" class="comma-list">{{ langCode }}</span></td>
                    </tr>
                    <tr>
                        <th>Name<span ng-show="country.language.length > 1">s</span></th>
                        <td><span ng-repeat="lang in country.language" class="comma-list">{{ lang }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <h2>Geography</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Region</th>
                        <td>{{ country.region }}</td>
                    </tr>
                    <tr>
                        <th>Subregion</th>
                        <td>{{ country.subregion }}</td>
                    </tr>
                    <tr>
                        <th>Demonym</th>
                        <td>{{ country.demonym }}</td>
                    </tr>
                    <tr>
                        <th>Coordinates</th>
                        <td><a ng-href="{{ country.osmUrl }}">{{country.latlng[0]}}, {{country.latlng[1]}}</a></td>
                    </tr>
                    <tr ng-show="country.area > 0">
                        <th>Area</th>
                        <td>{{ country.area }}km&#178;</td>
                    </tr>
                    <tr>
                        <th>Land borders</th>
                        <td>
                            <span ng-repeat="border in country.borders" class="comma-list" ng-show="country.borders.length">
                                <a ng-href="/#/country/{{border}}">{{ border }}</a>
                            </span>
                            <span ng-show="!country.borders.length">N/A</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="col-md-4 fake-heading" ng-if="country.cca3">
        <img ng-src="/data/flags/{{ country.cca3.toLowerCase() }}.svg" alt="{{ country.name }} flag" class="img-responsive country-flag">
        
        <map-view center="country.latlng"></map-view>
    </div>
</div>