<div class="panel clickable" 
     ng-class="{'panel-default': !isHovered, 'panel-info': isHovered}"
     ng-mouseenter="isHovered = true"
     ng-mouseleave="isHovered = false"
     ng-click="select()">
    <div class="panel-heading">
        <div class="pull-right">
            <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
        <div>
            <h3 class="panel-title">
                {{country.name.common}} <br>
                <small ng-if="country.name.native.common">({{country.name.native.common}})</small>
                <small ng-if="!country.name.native.common">&nbsp;</small>
            </h3>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Country Code (Alpha 2)</th>
                <td>{{country.cca2}}</td>
            </tr>
            <tr>
                <th>Country Code (Alpha 3)</th>
                <td>{{country.cca3}}</td>
            </tr>
            <tr>
                <th>
                    <span ng-show="country.currency.length < 2">Currency</span>
                    <span ng-show="country.currency.length > 1">Currencies</span>
                </th>
                <td>
                    <span class="comma-list" ng-repeat="currency in country.currency">{{currency}}</span>
                    <span ng-if="!country.currency.length">—</span>
                </td>
            </tr>
            <tr>
                <th>Int. dial code<span ng-show="country.callingCode.length > 1">s</span></th>
                <td>
                    <span class="comma-list" ng-repeat="code in country.callingCode">{{code}}</span>
                    <span ng-if="!country.callingCode.length">—</span>
                </td>
            </tr>
            <tr>
                <th>Language<span ng-show="country.languages.length > 1">s</span></th>
                <td>
                    <span class="comma-list" ng-repeat="(l, name) in country.languages">{{l}}</span>
                    <span ng-if="country.languages.length === 0">—</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>